node_modules
artifacts
cache
coverage
old_test
hardhat.config.ts
package-lock.json
package.json
tsconfig.json
test/shared
coverage.json
deployments/**
localhostDeployment.json
test/end_to_end/apySims/iteration*/sim_info.json