node_modules
.env
coverage
coverage.json
typechain
docs
.DS_Store
contracts/.DS_Store
localhostDeployment.json
deployments/localhost/
test/end_to_end/general_setup/scenario0/console.txt

#Hardhat files
cache
artifacts
