node_modules
.env*
coverage
coverage.json
typechain
docs
.DS_Store
contracts/.DS_Store
deployments/localhostDeployment.json
deployments/mainnetForkDeployment.json
deployments/localhost/
*.txt
#Hardhat files
cache
artifacts
.txt
.fuzz_test.yml
historicalData/historicalApy
historicalData/rateOracleApy
historicalData/rateOracleRates
historicalData/rates
historicalData/historicalTradeHistoricalData
historicalData/plotters/__pycache__
Pipfile
Pipfile.lock
position-status/data/
tasks/JSONs/
historicalData/images/
__cr_notes
.idea/
tasks/output/