{
  "version": "1.0",
  "chainId": "1",
  "createdAt": 1654007302649,
  "meta": {
    "name": "Transactions Batch",
    "description": "",
    "txBuilderVersion": "1.8.0",
    "createdFromSafeAddress": "0xb527E950fC7c4F581160768f48b3bfA66a7dE1f0",
    "createdFromOwnerAddress": "",
    "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
  },
  "transactions": [
    {{#rateOracles}}
    {{#setMinSecondsSinceLastUpdate}}
    {
      "to": "{{rateOracleAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "_minSecondsSinceLastUpdate",
            "type": "uint256"
          }
        ],
        "name": "setMinSecondsSinceLastUpdate",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      "contractInputsValues": {
        "_minSecondsSinceLastUpdate": "{{value}}"
      }
    }
    {{/setMinSecondsSinceLastUpdate}}
    {{#increaseRateOracleBufferSize}}
    {
      "to": "{{rateOracleAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
              "internalType": "uint16",
              "name": "rateCardinalityNext",
              "type": "uint16"
          }
        ],
        "name": "increaseObservationCardinalityNext",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
      },
      "contractInputsValues": {
        "rateCardinalityNext": "{{value}}"
      }
    }
    {{/increaseRateOracleBufferSize}}
    {{^last}},{{/last}}
    {{/rateOracles}}
  ]
}