{
    "version": "1.0",
    "chainId": "42161",
    "createdAt": 1654007302649,
    "meta": {
      "name": "Transactions Batch",
      "description": "",
      "txBuilderVersion": "1.8.0",
      "createdFromSafeAddress": "0x8DC15493a8041f059f18ddBA98ee7dcf93b838Ad",
      "createdFromOwnerAddress": "",
      "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
    },
    "transactions": [
      {{#data}}
      {
        "to": "{{factoryAddress}}",
        "value": "0",
        "data": null,
        "contractMethod": {
          "inputs": [
            {
              "internalType": "contract IPeriphery",
              "name": "_periphery",
              "type": "address"
            }
          ],
          "name": "setPeriphery",
          "payable": false
        },
        "contractInputsValues": {
          "_periphery": "{{peripheryAddress}}"
        }
      }
      {{/data}}
    ]
  }