{
  "version": "1.0",
  "chainId": "1",
  "createdAt": 1654007302649,
  "meta": {
    "name": "Transactions Batch",
    "description": "",
    "txBuilderVersion": "1.8.0",
    "createdFromSafeAddress": "0xb527E950fC7c4F581160768f48b3bfA66a7dE1f0",
    "createdFromOwnerAddress": "",
    "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
  },
  "transactions": [
    {
      "to": "{{proxyAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
          "inputs": [
            {
              "internalType": "address",
              "name": "newImplementation",
              "type": "address"
            }
          ],
        "name": "upgradeTo",
        "payable": false
      },
      "contractInputsValues": {
        "newImplementation": "{{newImplementation}}",
      }
    },
  ]
}
