{
  "version": "1.0",
  "chainId": "{{chainId}}",
  "createdAt": 1654007302649,
  "meta": {
    "name": "Transactions Batch",
    "description": "",
    "txBuilderVersion": "1.8.0",
    "createdFromSafeAddress": "{{multisig}}",
    "createdFromOwnerAddress": "",
    "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
  },
  "transactions": [
    {{#irsInstances}}
    {
      "to": "{{factoryAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "contract IERC20Minimal",
            "name": "_underlyingToken",
            "type": "address"
          },
          {
            "internalType": "contract IRateOracle",
            "name": "_rateOracle",
            "type": "address"
          },
          {
            "internalType": "uint256",
            "name": "_termStartTimestampWad",
            "type": "uint256"
          },
          {
            "internalType": "uint256",
            "name": "_termEndTimestampWad",
            "type": "uint256"
          },
          {
            "internalType": "int24",
            "name": "_tickSpacing",
            "type": "int24"
          }
        ],
        "name": "deployIrsInstance",
        "payable": false
      },
      "contractInputsValues": {
        "_underlyingToken": "{{underlyingTokenAddress}}",
        "_rateOracle": "{{rateOracleAddress}}",
        "_termStartTimestampWad": "{{termStartTimestampWad}}",
        "_termEndTimestampWad": "{{termEndTimestampWad}}",
        "_tickSpacing": "{{tickSpacing}}"
      }
    },
    {{#isAlpha}}
    {
      "to": "{{predictedVammAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "bool",
            "name": "__isAlpha",
            "type": "bool"
          }
        ],
        "name": "setIsAlpha",
        "payable": false
      },
      "contractInputsValues": {
        "__isAlpha": "true"
      }
    },
    {
      "to": "{{predictedMarginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "bool",
            "name": "__isAlpha",
            "type": "bool"
          }
        ],
        "name": "setIsAlpha",
        "payable": false
      },
      "contractInputsValues": {
        "__isAlpha": "true"
      }
    },
    {
      "to": "{{peripheryAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "contract IVAMM",
            "name": "_vamm",
            "type": "address"
          },
          {
            "internalType": "int256",
            "name": "_lpMarginCapNew",
            "type": "int256"
          }
        ],
        "name": "setLPMarginCap",
        "payable": false
      },
      "contractInputsValues": {
        "_vamm": "{{predictedVammAddress}}",
        "_lpMarginCapNew": "{{lpMarginCap}}"
      }
    },
    {{/isAlpha}}
    {{#pausers}}
    {
      "to": "{{predictedVammAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "address",
            "name": "account",
            "type": "address"
          },
          {
            "internalType": "bool",
            "name": "permission",
            "type": "bool"
          }
        ],
        "name": "changePauser",
        "payable": false
      },
      "contractInputsValues": {
        "account": "{{pauser}}",
        "permission": "true"
      }
    },
    {{/pausers}}
    {
      "to": "{{predictedMarginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "_newCacheMaxAgeInSeconds",
            "type": "uint256"
          }
        ],
        "name": "setCacheMaxAgeInSeconds",
        "payable": false
      },
      "contractInputsValues": {
        "_newCacheMaxAgeInSeconds": "{{cacheMaxAgeInSeconds}}"
      }
    },
    {
      "to": "{{predictedMarginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "_newLiquidatorRewardWad",
            "type": "uint256"
          }
        ],
        "name": "setLiquidatorReward",
        "payable": false
      },
      "contractInputsValues": {
        "_newLiquidatorRewardWad": "{{liquidatorRewardWad}}"
      }
    },
    {
      "to": "{{predictedVammAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "newFeeWad",
            "type": "uint256"
          }
        ],
        "name": "setFee",
        "payable": false
      },
      "contractInputsValues": {
        "newFeeWad": "{{feeWad}}"
      }
    },
    {
      "to": "{{predictedVammAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
          "inputs": [
          {
              "internalType": "uint256",
              "name": "__maturityBufferWad",
              "type": "uint256"
          }
          ],
          "name": "setMaturityBuffer",
          "payable": false
      },
      "contractInputsValues": {
          "__maturityBufferWad": "{{maturityBufferWad}}"
      }
    },
    {
      "to": "{{predictedMarginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "uint256",
            "name": "_newSecondsAgo",
            "type": "uint256"
          }
        ],
        "name": "setLookbackWindowInSeconds",
        "payable": false
      },
      "contractInputsValues": {
        "_newSecondsAgo": "{{lookbackWindowInSeconds}}"
      }
    },
    {
      "to": "{{predictedMarginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "components": [
              {
                "internalType": "uint256",
                "name": "apyUpperMultiplierWad",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "apyLowerMultiplierWad",
                "type": "uint256"
              },
              {
                "internalType": "int256",
                "name": "sigmaSquaredWad",
                "type": "int256"
              },
              {
                "internalType": "int256",
                "name": "alphaWad",
                "type": "int256"
              },
              {
                "internalType": "int256",
                "name": "betaWad",
                "type": "int256"
              },
              {
                "internalType": "int256",
                "name": "xiUpperWad",
                "type": "int256"
              },
              {
                "internalType": "int256",
                "name": "xiLowerWad",
                "type": "int256"
              },
              {
                "internalType": "int256",
                "name": "tMaxWad",
                "type": "int256"
              },
              {
                "internalType": "uint256",
                "name": "etaIM",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "etaLM",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap1",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap2",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap3",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap4",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap5",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap6",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "gap7",
                "type": "uint256"
              },
              {
                "internalType": "uint256",
                "name": "minMarginToIncentiviseLiquidators",
                "type": "uint256"
              }
            ],
            "internalType": "struct IMarginEngine.MarginCalculatorParameters",
            "name": "_marginCalculatorParameters",
            "type": "tuple"
          }
        ],
        "name": "setMarginCalculatorParameters",
        "payable": false
      },
      "contractInputsValues": {
        "_marginCalculatorParameters": "[\"{{marginCalculatorParams.apyUpperMultiplierWad}}\",\"{{marginCalculatorParams.apyLowerMultiplierWad}}\",\"{{marginCalculatorParams.sigmaSquaredWad}}\",\"{{marginCalculatorParams.alphaWad}}\",\"{{marginCalculatorParams.betaWad}}\",\"{{marginCalculatorParams.xiUpperWad}}\",\"{{marginCalculatorParams.xiLowerWad}}\",\"{{marginCalculatorParams.tMaxWad}}\",\"{{marginCalculatorParams.etaIMWad}}\",\"{{marginCalculatorParams.etaLMWad}}\",\"{{marginCalculatorParams.gap1}}\",\"{{marginCalculatorParams.gap2}}\",\"{{marginCalculatorParams.gap3}}\",\"{{marginCalculatorParams.gap4}}\",\"{{marginCalculatorParams.gap5}}\",\"{{marginCalculatorParams.gap6}}\",\"{{marginCalculatorParams.gap7}}\",\"{{marginCalculatorParams.minMarginToIncentiviseLiquidators}}\"]"
      }
    },
    {
        "to": "{{predictedVammAddress}}",
        "value": "0",
        "data": null,
        "contractMethod": {
          "inputs": [
            {
              "internalType": "uint160",
              "name": "sqrtPriceX96",
              "type": "uint160"
            }
          ],
          "name": "initializeVAMM",
          "outputs": [],
          "stateMutability": "nonpayable",
          "type": "function"
        },
        "contractInputsValues": {
          "sqrtPriceX96": "{{sqrtPriceX96}}"
        }
    }{{^last}},{{/last}}
    {{/irsInstances}}
  ]
}
