{
  "version": "1.0",
  "chainId": "{{chainId}}",
  "createdAt": 1654007302649,
  "meta": {
    "name": "Transactions Batch",
    "description": "",
    "txBuilderVersion": "1.8.0",
    "createdFromSafeAddress": "{{multisig}}",
    "createdFromOwnerAddress": "",
    "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
  },
  "transactions": [
    {{#liquidatablePositions}}
    {
      "to": "{{marginEngineAddress}}",
      "value": "0",
      "data": null,
      "contractMethod": {
        "inputs": [
          {
            "internalType": "address",
            "name": "_owner",
            "type": "address"
          },
          {
            "internalType": "int24",
            "name": "_tickLower",
            "type": "int24"
          },
          {
            "internalType": "int24",
            "name": "_tickUpper",
            "type": "int24"
          }
        ],
        "name": "liquidatePosition",
        "payable": false
      },
      "contractInputsValues": {
        "_owner": "{{owner}}",
        "_tickLower": "{{tickLower}}",
        "_tickUpper": "{{tickUpper}}"
      }
    }{{^last}},{{/last}}
    {{/liquidatablePositions}}
  ]
}