{
    "version": "1.0",
    "chainId": "{{chainId}}",
    "createdAt": 1654007302649,
    "meta": {
      "name": "Transactions Batch",
      "description": "",
      "txBuilderVersion": "1.8.0",
      "createdFromSafeAddress": "{{multisig}}",
      "createdFromOwnerAddress": "",
      "checksum": "0x0000000000000000000000000000000000000000000000000000000000000000"
    },
    "transactions": [
      {{#pools}}
      {
        "to": "{{vammAddress}}",
        "value": "0",
        "data": null,
        "contractMethod": {
            "inputs": [
            {
                "internalType": "uint256",
                "name": "__maturityBufferWad",
                "type": "uint256"
            }
            ],
            "name": "setMaturityBuffer",
            "payable": false
        },
        "contractInputsValues": {
            "__maturityBufferWad": "{{maturityBufferWad}}"
        }
      }{{^last}},{{/last}}
      {{/pools}}
    ]
  }
